body {
  background-color:whitesmoke;
  height: 100vh;
}

div {
    width: 70%;
    background-color:khaki;
    height: 80%;
    margin: auto;
}

h1, h3 {
  color:darkblue;
  text-align: center;
}

p {
  color: black;
  text-align:justify;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  margin-left: 10px;
  color: darkblue;
  text-decoration: none;
}

img {
  width: 300px;
  margin-left: 39%;
  border-radius: 20px;
}