body {
  background-color:rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

h1 {
  color:rgb(0, 0, 0);
  text-align:justify;
  margin-left: 10px;
  padding-bottom: 10px;
}

h3 {
  color:rgb(0, 0, 139);
  text-align: left;
  margin-left: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

p, li {
  color: rgb(0, 0, 0);
  text-align:justify;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0, 0, 139);
  text-decoration: none;
}

img {
  width: 300px;
  border-radius: 20%;
}

footer {
  background-color: transparent;
  border-top: 2px solid rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 15px;
}

#container-title {
  width: 100%;
  background-color:gold;
  padding-top: 0.5px;
}

#container-target {
    width: 70vw;
    background-color:rgb(255, 255, 255);
    min-height: 100vh;
    margin: auto;
    padding-bottom: 10px;
}

#seccion-1 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


#container-img {
  display: flex;
  justify-content: center;
  background-color: rgb(128, 128, 128);
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
}